<section class="social-section">
    <h2 class="section-title">SOCIAL REDIRECTIONS:</h2>
    <div class="social-content">
      <div class="social-link">
        <span>GitHub:</span>
        <a [href]="'https://github.com/w-arroyo/'" target="_blank" rel="noopener noreferrer">wdonarroyo</a>
      </div>
      <div class="social-link">
        <span>LinkedIn:</span>
        <a [href]="'http://linkedin.com/in/alvaro-arroyo-73384835b'" target="_blank" rel="noopener noreferrer">Alvaro Arroyo</a>
      </div>
      <div class="social-link">
        <span>Email:</span>
        <span class="email-text">wdonarroyo&#64;gmail.com</span>
      </div>
    </div>
  </section>