<div class="post-table-container">
  <button class="size-toggle-button" (click)="toggleTable()">
    <span class="size-label">SIZE</span>
    <ng-container *ngIf="postService.selectedSize$ | async as selectedSize; else noSizes">
      <span class="selected-size" *ngIf="selectedSize">{{selectedSize}}</span>
    </ng-container>
    <ng-template #noSizes>
      <span class="selected-size">Select size</span>
    </ng-template>
  </button>
  
  <div class="size-table" *ngIf="isTableOpen">
    <div class="table-header">
      <div class="header-cell">Size</div>
      <div class="header-cell">Lowest Ask</div>
      <div class="header-cell">Highest Bid</div>
      <div class="header-cell">Last Sale</div>
    </div>
    
    <div class="table-body">
      <ng-container *ngIf="sizes$ | async as sizes">
      <div class="table-row" *ngFor="let item of sizes" (click)="selectSize(item)">
        <div class="table-cell">{{item}}</div>
        <ng-container *ngIf="getAsk(item) | async as ask">
          <div class="table-cell">{{ask.message ? ask.message : ''}}€</div>
        </ng-container>
        <ng-container *ngIf="getBid(item) | async as bid">
          <div class="table-cell">{{bid.message ? bid.message : ''}}€</div>
        </ng-container>
        <ng-container *ngIf="getSale(item) | async as sale">
          <div class="table-cell">{{sale.message ? sale.message : ''}}€</div>
        </ng-container>
      </div>
    </ng-container>
    </div>
  </div>
</div>