.transaction-box-summary {
  display: flex;
  gap: 30px;
  padding: 20px;
  border-bottom: 1px solid #f5f5f5;
  align-items: center;
  width: 100%;
  position: relative;
}

.transaction-details {
  flex: 1;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 100px;
}

.detail-label {
  font-size: 14px;
  color: #755540;
  text-transform: uppercase;
  font-weight: 500;
}

.detail-value {
  font-size: 16px;
  color: #212121;
  font-weight: 500;
}

.action-buttons {
  margin-left: auto;
}

.tracking-button {
  margin-left: -160px;
  padding: 8px 16px;
  background-color: #755540;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken(#755540, 10%);
  }
}

.error-message {
  color: #ED1C24;
  font-size: 14px;
  margin-top: 10px;
  position: absolute;
  bottom: 5px;
  left: 20px;
  width: calc(100% - 40px);
}