.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-right: 5px;

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    flex-shrink: 0;
  }
}

.no-transactions {
  text-align: center;
  color: #755540;
  padding: 30px;
  font-size: 16px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}