<div class="transaction-list" *ngIf="products$ | async as likedProducts; else loading">
    <h2 class="profile-title">LIKED PRODUCTS</h2>
    <p *ngIf="error" class="status-message error">{{ error }}</p>
  
    <div *ngIf="likedProducts.length === 0 && !error" class="no-transactions">
      <p>You don't have any products on your liked list.</p>
    </div>
  
    <div *ngFor="let product of likedProducts" class="product-content" style="margin-bottom: 20px;">
      <div class="product-image-container">
        <img [src]="product.name+'.jpg'" 
             alt="{{product.name}}" 
             class="product-image">
      </div>
      
      <div class="product-info">
        <div class="product-header">
          <h1 class="product-name">{{product.name}}</h1>
          <button class="like-button" (click)="unlike(product.id)">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="#ED1C24" 
                 stroke="#ED1C24" stroke-width="2">
              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
            </svg>
          </button>
        </div>
        
        <p class="product-manufacturer">{{product.manufacturer}}</p>
        <p class="product-year">{{product.year}}</p>
        <p class="product-year">{{product.category}}</p>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <app-loading-screen>
    </app-loading-screen>
  </ng-template>