/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=EB Garamond');
* {
    font-family: 'Garamond', sans-serif;
}
::-webkit-scrollbar {
    display: none;
  }
  
  html, body {
    scrollbar-width: none;
    -ms-overflow-style: none; 
  }